


@font-face {
  font-family: myFont;
  src: url(Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: myFontBold;
  src: url(Open_Sans/OpenSans-Bold.ttf);

}

table, th, td {
  
  font-family: myFont;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 20px 5px 20px;
}


body{
	font-family: myFont;				
  margin: 40px;

    

}



h1{

	font-family: myFontBold; 
  font-size:3.5em; 
  text-align: center;

}

h2, h3{
  font-family: myFontBold;


}


.toc{
  display:inline;
  }



  
  .site-nav ul {
    display: flex;
    flex-flow: wrap;
    list-style: none; /* This removes the list bullets */
    
  }
  
 .site-nav li {

    background: LightSkyBlue;
    text-align: center;
    border: 2px solid LightCyan;
    flex-grow: 1;
    display: block;
    position: relative;
    padding: 10px;
    font-size: 25px;
    
    
  }
  
  .site-nav a {
  color: black;
  text-decoration: none;

  }

  .site-nav li:hover{
  text-decoration: underline ;
 }


a {
  color: black;
  
  }